body{
	background: rgb(248, 248, 244);

    
}

.my-mobile{
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #0f0101;
    border-radius: 0px;
    
}
.cart{
	margin: 10px 10px ;
	background-color: #e6f7a5;;
	padding: 70px 0;
    border-radius: 10px;
    margin-top:  2%;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: rgb(250, 246, 246);
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: rgb(233, 152, 152);
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}